/* Scss Document */

@charset "UTF-8";

// --------------------------------------------
// style guide
// 基本的な考えは、FLOCSS（https://github.com/..）ベース。
// 
// #命名規則
// BEMをベースに以下のルールで記載。
// block__element--modifier
// Blockが複数単語になる場合は、「blockName」のようにキャメルケースにする。
// 
// --------------------------------------------

// ============================================
// import css
// ============================================

	// reset css
	@import 'reset';
	// settings
	@import 'settings';
	// "slick" slide show
	@import 'slick';
	@import 'slick-theme';

// Title ------------------------------

// Underline
.title1 {
	text-align: center;
	margin-bottom: 30px;
	&__head {
		display: inline-block;
		@include font-size(24);
		font-weight: 600;
		color: $color-main;
		position: relative;
		padding-left: 10px;
		padding-right: 10px;
		box-sizing: border-box;
		@include media(sp) {
			@include font-size(20);
		}
		&:before{
			content: "";
			width: 100%;
			height: 8px;
			position: absolute;
			bottom: 2px;
			left: 0px;
			background-color: rgba(#FEA344, 0.7);
			z-index: -1;
		}
	}
}

// Underline
.title2 {
	@include font-size(20); // JP 20px EN 28px
	font-weight: 400;
	text-align: center;
	margin-bottom: 30px;
	&:after {
		content: "";
		display: block;
		width: 100px;
		height: 1px;
		background-color: $color-font;
		margin: 30px auto 0;
	}
}

// Background-color
.title3 {
	color: white;
	@include font-size(20);
	text-align: center;
	background-color: $color-main;
	padding: 6px 0;
}

// Border-left
.title4 {
	font-weight: 400;
	@include font-size(20);
	border-left: 5px solid $color-main;
	border-bottom: 1px solid $color-main;
	padding-left: 10px;
}

// keyText ------------------------------
.key {
	color: $color-br;
	font-weight: 500;
}

header {
	width: 100%;
	&.fixed {
		position: fixed;
		top: 0;
		box-shadow: 0px 0px 2px 2px rgba(70,70,70,0.5);
		transition: top 0.65s ease-in;
		z-index: 999;
		.headInfo {
			display: none;
		}
	}
}

// headInfo ------------------------------
.headInfo {
	&__unit {
		display: flex;
		flex-flow: row;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
		@include media(sp) {
			padding: 10px;
			justify-content: center;
		}
		li {
			&:nth-child(1) { // CMC
				max-width: 60px;
				@include media(sp) {
					display: none;
				}
				a img { max-width: 60px; } // for IE, Edge
			}
			&:nth-child(2) { // 全能連
				max-width: 200px;
				a img { max-width: 200px; } // for IE, Edge
			}
			&:nth-child(3) { // FMO
				max-width: 85px;
				@include media(sp) {
					display: none;
				}
				a img { max-width: 85px; } // for IE, Edge
			}
		}
	}
}

// headerNav ------------------------------
.headerNav {
	background-color: $color-br;
	&__unit {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		align-items: center;
		padding: 10px;
		@include media(sp) {
			padding: 0;
		}
		li {
			@include media(sp) {
				width: 50%;
				text-align: center;
				padding: 5px;
			}
			a {
				color: white;
				@include hoverUnderline;
				@include media(sp) {
					@include font-size(14);
				}
				&::after {
					background-color: white;
				}
			}
		}
	}
}

// keyVisual ------------------------------
.keyVisual {
	width: 100%;
	//background: url(#{$imgDir}bg.jpg) center center/cover no-repeat $color-main;
	&__show {
		width: 100%;
		height: 350px;
		overflow: hidden;
		position: relative;
		&__slider {
			img {
				//max-width: none;
			}
		}
	}
	&__head {
		width: 100%;
		position: absolute;
		top: 25%;
		color: white;
		padding-left: 25px;
		@include media(sp) {
			top: 10%;
		}
		&__title {
			@include font-size(48);
			font-family: "Times New Roman", Times, "serif";
			font-weight: 500;
			@include media(sp) {
				@include font-size(40);
			}
		}
		&__subTitle {
			@include font-size(22);
			font-family: "Times New Roman", Times, "serif";
			font-weight: 500;
			margin-bottom: 35px;
			@include media(sp) {
				@include font-size(18);
				margin-bottom: 15px;
			}
		}
		&__date {
			display: inline-block;
			background-color: $color-orange;
			padding: 10px 20px;
			margin-bottom: 10px;
			@include font-size(17);
			@include media(sp) {
				@include font-size(14);
			}
			br {
				display: none;
				@include media(sp) {
					display: inline;
				}
			}
		}
		&__append {
			max-width: 1000px;
			text-align: right;
			padding-right: 30px;
		}
	}
}

// greeting ------------------------------
.greeting {
	background-color: $color-main;
	color: white;
	@include space;
	&--inner {
		max-width: $width-main;
	}
	&--unit {
		display: flex;
		flex-flow: row;
		width: 100%;
		@include space-btm;
		@include media(sp) {
			flex-flow: column;
			padding-right: 20px;
			padding-left: 20px;
		}
	}
	&__title {
		text-align: center;
		@include space-btm;
		h2 {
			display: inline-block;
			@include font-size(24);
			font-weight: 400;
			border-bottom: 1px solid rgba(white, 0.5);
			padding-bottom: 5px;
		}
	}
	&__fig {
		width: 150px;
		@include media(sp) {
			width: 100%;
			text-align: center;
			img {
				width: 150px;
			}
		}
	}
	&__txt {
		width: calc(100% - 150px);
		padding-left: 30px;
		@include media(sp) {
			width: 100%;
			padding-left: 0;
		}
		&__head {
			margin-bottom: 15px;
		}
		&__body {
			@include font-size(13);
			line-height: 2.1;
			font-weight: 400;
			margin-bottom: 15px;
		}
		&__last {
			text-align: right;
		}
	}
	&__btn {
		max-width: 400px;
		margin: 0 auto;
		a {
			display: block;
			width: 100%;
			background-color: white;
			color: $color-main;
			border: 1px solid transparent;
			padding: 15px;
			text-align: center;
			@include font-size(18);
			transition: all 0.3s ease;
			&:hover {
				background-color: $color-main;
				color: white;
				border: 1px solid white;
			}
		}
		&__append {
			@include font-size(14);
		}
	}
}

// about ------------------------------
.about {
	@include space;
	&--inner {
		max-width: $width-main;
		@include media(sp) {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	&__mainTitle {
		margin-bottom: 50px;
	}
	&__title {
		img {
			width: 35px;
			margin-right: 15px;
		}
	}
	&__desc {
		margin-bottom: 50px;
		&__link {
			display: block;
			text-align: right;
			@include hoverOpc;
		}
	}
	&__define {
		width: 90%;
		margin: 0 auto 30px;
		@include media(sp) {
			width: 100%;
		}
		dt {
			background-color: $color-main;
			color: white;
			@include font-size(18);
			text-align: center;
			padding: 7px 10px;
		}
		dd {
			border: 1px solid $color-main;
			padding: 20px 50px;
			line-height: 1.7;
			@include media(sp) {
				padding: 20px;
			}
		}
	}
}

// place ------------------------------
.place {
	&--inner {
		max-width: $width-main;
		@include space;
		@include media(sp) {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	&__body {
		background-color: $color-light;
	}
	&__define {
		margin-bottom: 20px;
		dt {
			clear: left;
			float: left;
			width: 7em;
		}
		dd {
			padding-left: 7em;
			margin-bottom: 10px;
		}
	}
	iframe {
		width: 100%;
		height: 350px;
		margin-bottom: 20px;
	}
	&__btn {
		max-width: 650px;
		margin: 0 auto 30px;
		display: flex;
		flex-flow: row;
		justify-content: space-between;
		@include media(sp) {
			flex-flow: column;
			margin: 0 auto;
		}
		li {
			width: 43%;
			@include media(sp) {
				width: 100%;
				margin-bottom: 20px;
			}
			a {
				display: block;
				width: 100%;
				color: white;
				text-align: center;
				padding: 15px;
				background-color: $color-main;
				border: 1px solid transparent;
				transition: all 0.3s;
				&:hover {
					background-color: white;
					color: $color-main;
					border: 1px solid $color-main;
				}
			}
		}
	}
	&__append {
		max-width: 650px;
		margin: 0 auto;
		text-align: center;
		padding: 20px;
		border: 1px solid $color-main;
		background-color: white;
	}
}

// program ------------------------------
.program {
	@include space;
	&--inner {
		max-width: $width-main;
		@include media(sp) {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	&__tbl {
		width: 100%;
		&--container {
			max-width: 650px;
			margin: 0 auto;
		}
		th, td {
			padding: 6px 10px;
			@include media(sp) {
				display: block;
			}
		}
		th {
			background-color: $color-main;
			color: white;
		}
		td {
			@include font-size(15);
			font-weight: bold;
			border-bottom: 1px solid rgba($color-main, 0.5);
			@include media(sp) {
				&:nth-of-type(1) {
					border-bottom: none;
				}
				&:nth-of-type(2) {
					border-bottom: none;
				}
			}
		}
	}
	&__rest {
		background-color: lighten($color-br, 56%);
	}
	&__thin {
		font-weight: normal;
	}
	&__append {
		@include font-size(14);
	}
	&__now {
		@include font-size(14);
		text-align: right;
	}
}

// apply ------------------------------
.apply {
	@include space;
	&__btnArea {
		padding: 100px 0;
		background-image: url(#{$imgDir}bg_app.jpg);
		@include media(sp) {
			padding: 70px 0;
		}
		&__btn {
			max-width: 650px;
			padding: 0 10px;
			margin: 0 auto;
			a {
				display: block;
				width: 100%;
				background-color: white;
				text-align: center;
				color: $color-main;
				padding: 20px;
				@include font-size(22);
				border: 1px solid $color-main;
				transition: all 0.3s;
				&:hover {
					background-color: $color-main;
					color: white;
					border: 1px solid white;
				}
			}
			&__append {
				@include font-size(15);
			}
		}
	}
}

// footer ------------------------------
.footer {
	background-color: $color-sub;
	color: white;
	padding-top: 25px;
	&__nav {
		@include font-size(14);
		text-align: center;
		margin-bottom: 25px;
		li {
			display: inline;
			@include media(sp) {
				display: block;
			}
			a {
				color: white;
				@include hoverOpc;
			}
			&:after {
				content: "　|　";
				@include media(sp) {
					content: none;
				}
			}
			&:last-child:after {
				content: none;
			}
		}
	}
	&__copy {
		@include font-size(13);
		text-align: center;
		padding-bottom: 20px;
	}
}

#page-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	a {
		display: block;
		width: 70px;
		@include media(sp) {
			width: 45px;
		}
		&:hover {
			opacity: 0.5;
		}
	}
}

